@using Blog.Entities;
@{
    ViewBag.Title = "Users List";
    Layout = "~/Views/Shared/_layout.cshtml";

    List<User> users = ViewBag.Users;
    WebGrid usersGrid = new WebGrid(users);
}

<h2>Index</h2>

